<form [formGroup]="postForm">
  <ngx-loading [show]="singlePostLoading"></ngx-loading>
  <div class="form-group mb-2">
    <textarea class="form-control mb-2" formControlName="text" placeholder="what are your thoughts?"></textarea>
    <button class="btn btn-primary mb-2" (click)="addNewPost()">Post</button>
  </div>
</form>

<div>
  <h3>Posts</h3>
  <ngx-loading [show]="allPostsLoading"></ngx-loading>
  <ng-container *ngFor="let post of posts">
    <div class="card">
<!--      <div class="card-header">-->
<!--        Author goes here-->
<!--      </div>-->
      <div class="card-body">
        <p>{{post.text}}</p>
      </div>
      <div class="card-footer text-muted">
        {{post.created}}
      </div>
    </div>
  </ng-container>
</div>
