<div class="container">
  <form [formGroup]="signUpForm" class="form-signup">
    <div class="text-center">
      <h1 class="h3 mb-4">Sign Up!</h1>
    </div>
    <div class="full-width">
      <label for="inputEmail" class="sr-only">Email</label>
      <input id="inputEmail" type="email" class="form-control mb-2" placeholder="email address" formControlName="email"/>
    </div>
    <div class="full-width">
      <label for="inputPassword" class="sr-only">Password</label>
      <input id="inputPassword" type="password"  class="form-control mb-2" placeholder="password" formControlName="password"/>
    </div>
    <div class="full-width">
      <label for="inputPassword" class="sr-only">Repeat Password</label>
      <input id="inputRepeatPassword" type="password"  class="form-control mb-2" placeholder="repeat password" formControlName="repeatPassword"/>
    </div>
    <button class="full-width" mat-raised-button>Sign-Up</button>
    <p class="message">Already registered? <a style="cursor: pointer" routerLink="/login">Sign In</a></p>
    <div *ngIf="error$" class="error-message mb-2">
      {{this.error$.getValue()}}
    </div>
  </form>
</div>
