<ngx-loading [show]="loading"></ngx-loading>
<div class="container">
    <form [formGroup]="signInForm" class="form-signup">
      <div class="text-center">
        <h1 class="h3 mb-4">Sign In</h1>
      </div>
      <div class="full-width">
        <label for="inputEmail" class="sr-only">Email</label>
        <input id="inputEmail" type="email" class="form-control mb-2" placeholder="email address" formControlName="email"/>
      </div>
      <div class="full-width">
        <label for="inputPassword" class="sr-only">Password</label>
        <input id="inputPassword" type="password" class="form-control mb-2" placeholder="password" formControlName="password"/>
      </div>
      <button class="full-width" mat-raised-button>login</button>
      <p class="message">Not registered? <a style="cursor: pointer" routerLink="/login/register">Create an account</a></p>
      <div *ngIf="error$.getValue() !== null" class="error-message mb-2">
        {{this.error$.getValue()}}
      </div>
    </form>
</div>

