<form>
  <div style="width: 40%" class="input-group form-group no-border">
    <input type="text" [formControl]="userSearchControl" class="form-control" placeholder="Search...">
    <div class="input-group-append">
      <button mat-raised-button (click)="searchUser()">Search</button>
    </div>
  </div>
</form>

<ul>
  <li *ngFor="let user of users">
    <a href="javascript:void(0)" (click)="getUserDetails(user)">{{user.username}}</a> <button mat-button (click)="followUser(user.username)">follow</button>
  </li>
</ul>
<!-- TODO: div of cards -->
