<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#"><span [innerHTML]="getTitle()"></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Features</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Pricing</a>-->
<!--      </li>-->
      <li class="nav-item  btn-rotate" ngbDropdown placement="bottom-left">
        <a class="nav-link" ngbDropdownToggle id="navbarDropdownMenuLink" >
          <i class="nc-icon nc-bell-55"></i>
          <p>
            <span class="d-lg-none d-md-block">Some Actions</span>
          </p>
        </a>
        <div  ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
          <a ngbDropdownItem href="javascript:void(0)" (click)="signOut()">Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
