<div id="user">
  <img id="avatar" src="assets/images/default_icon.png">

<!--  <i class="fa fa-gear"></i>-->

  <div id="main">
    <h3>{{user.username}}</h3>
    <p>{{user.fullName}}</p>
  </div>

  <div *ngIf="isOwn" id="level">
    <p>{{user.email}}</p>
  </div>

  <div id="information">
    <div id="stats">
      <div>
        <h4>{{user.followersCount}}</h4>
        <p>Followers</p>
      </div>

      <div>
        <h4>{{user.followsCount}}</h4>
        <p>Follows</p>
      </div>

      <div>
        <h4>{{user.postsCount}}</h4>
        <p>Posts</p>
      </div>
    </div>

<!--    <p id="description">-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.-->
<!--    </p>-->
  </div>
</div>
