<section class="common-section edit-profile-main position-relative">
  <div class="container">
    <ngx-loading [show]="loading"></ngx-loading>

    <form [formGroup]="profileForm">

      <div class="form-group row">
        <label class="col-sm-4 col-form-label label-right">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" formControlName="email" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label label-right">handle</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" placeholder="handle" formControlName="handle">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-4 col-form-label label-right">phone</label>
        <div class="col-sm-6">
          <input type="text" class="form-control"  placeholder="phone" formControlName="phone">
        </div>
      </div>

      <div *ngIf="error$.getValue() !== null" class="error-message mb-4">
        {{this.error$.getValue()}}
      </div>

      <div class="form-group row">
        <div class="col-sm-6 offset-sm-4">
          <button type="button" class="btn large-btn" (click)="onSetup()">Finish Registration</button>
        </div>
      </div>

    </form>

  </div>
</section>
