<div class="sidebar-wrapper">
  <div class="logo">
<!--    <a href="http://www.creative-tim.com" class="simple-text logo-mini">-->
<!--      <div class="logo-image-small">-->
<!--        <img src="assets/img/angular2-logo.png">-->
<!--      </div>-->
<!--    </a>-->
    <a href="https://www.twodio.ge" class="simple-text logo-normal">
      Twodio
    </a>
  </div>
  <ul class="nav">
    <li>
      <a [routerLink]="['']">Profile</a>
      <a [routerLink]="['feed']">Feed</a>
    </li>
  </ul>
</div>
