@import '~bootstrap/scss/bootstrap';
@import "modules/signup";
@import 'variables';

.error-message {
  font-size: 18px;
  text-align: center;
  padding: 17px 10px;
  color: #fff;
  display: block;
  position: relative;
  z-index: 5;
  border-radius: 4px;
  background-color: #dc3545;
}
