@import '~bootstrap/scss/bootstrap';
@import 'mixins';
@import 'variables';
@import 'responsive';
@import "sidebar-and-main-panel";
@import "modules/signup";

@import 'header';

.error-message {
  font-size: 18px;
  text-align: center;
  padding: 17px 10px;
  color: #fff;
  display: block;
  position: relative;
  z-index: 5;
  border-radius: 4px;
  background-color: #dc3545;
}
