<div class="tweet">
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Author</strong> <small>username</small>
            <br>
            {{post.text}}
          </p>
        </div>
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-heart"></i></span>
            <span class="likes">{{post.likeCount}}</span>
          </a>
        </div>
      </div>
    </article>
  </div>
</div>
