<div class="root" style="cursor: pointer;">
  <div class="user">
    <figure>
      <img class="avatar" src="/assets/images/default_icon.png" />
    </figure>
    <span class="displayName">{{post.user.fullName}}</span>
    <span class="username"> {{post.user.username}}</span>
    <span class="date"> {{post.created}}</span>
  </div>
  <h3>{{post.text}}</h3>
  <div class="buttons">
    <div class="icon">
      <span class='fa fa-reply'></span>
      <span class="number">{{post.childrenCount}}</span>
    </div>
<!--    <div      class={(this.state.pressRetweet) ? styles.rtGreen : styles.space}-->
<!--      onClick={this.onPressRetweet}-->
<!--    >-->
<!--      <span class='fa fa-retweet'></span>-->
<!--      <span class={styles.number}>{this.props.numRetweets}</span>-->
<!--    </div>-->
    <div>
    <span [class.favYellow]="post.iLike" style="cursor: pointer;" class='fa fa-star' (click)="onPostLikeClicked()"></span>
    <span class="number">{{post.likeCount}}</span>
  </div>
</div>
</div>
